/*	

	P&G Color Palette

	Green #218503
	Light Green #9EA39D
	Dark Grey #383838
	P&G Blue #013DAF
	P&G Blue Lighter #0095d9
	P&G Blue Lightest #8dd8f5
	Yellow #F9C801
	EasyApps Purple #A1207B

*/


  /********************************/
 /* CSS for FastMart Demo Screen */
/********************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}
body {
	font: 12px/18px Arial, sans-serif;
}


  /*******************************/
 /* Main Screen Layout Sections */
/*******************************/

.grid-container {
	display: grid;
	height: 100%;
	grid-template-columns: 14% 84%;
	grid-template-rows: 12% 88%;
	grid-gap: 1% 1%;
	grid-template-areas: "top-left top-header top-right" "sidebar-left center-embed sidebar-right";
}

.top-left {
	grid-area: top-left;
	background-color: #013daf;
	height: 72px;
	text-align: center;
	color: #fff;
	font-size: 12px;
}

.top-header {
	grid-area: top-header;
}

.top-right {
	grid-area: top-right;
}

.center-embed {
	grid-area: center-embed;
	border: 1px solid #999;
}

.center-embed iframe {
	 width: 100%;
	 height: 900px;
	 border: 0;
	 left: 0;
	 top: 0;
}
	
.sidebar-left {
	grid-area: sidebar-left;
	background-color: #eee;
	border-right: #999 solid 1px;
}

.sidebar-right {
	grid-area: sidebar-right;
}


  /**********************/
 /* Placeholder Center */
/**********************/
 
* { box-sizing: border-box; }

.wrapper > div {
	 color: #bdbdbd;
	font-size: 1.3em;
}

.wrapper {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-auto-rows: 270px;
	grid-template-areas: 
		". a a ."
		". a a .";
}

.placeholder {
	grid-area: a;
	align-self: center;
	justify-self: center;
}


  /****************/
 /* Left Sidebar */
/***************/

.sidebar-left .storegroups, .prodhier {
	padding: 10px 0 10px 10px;
	font-size: 1.0em;
}

.customer {
	padding: 0 0 0 10px;
	font-size: 1.0em;
}

.sidebar-left p {
	font-weight: 600;
	padding: 10px 0 0 0;
}

.sidebar-left div.storegroups label {
	font-weight: 600;
	margin: 0;
	padding: 8px 0 0 0;
	display: block;
	clear: both;
}


  /************************/
 /* Form Element Styling */
/************************/

#select-sec1,
#select-hier1,
#select-hier2 {
	 display: none;
}

.multiselect {
	width: 180px;
	background: #f1f1f1;
}

.selectBox {
	position: relative;
}

.selectBox select {
	width: 100%;
	font-weight: 600;
}

.overSelect {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

#checkboxes1,
#checkboxes2,
#checkboxes3,
#checkboxes4,
#checkboxes5 {
	display: none;
	border: 1px #999 solid;
}

#checkboxes1 label,
#checkboxes2 label,
#checkboxes3 label,
#checkboxes4 label,
#checkboxes5 label {
	display: block;
}

#checkboxes1 label:hover,
#checkboxes2 label:hover,
#checkboxes3 label:hover,
#checkboxes4 label:hover,
#checkboxes5 label:hover {
	background-color: #0095d9;
}

.customer select,
.prodhier select,
.storegroups select {
	-webkit-appearance: none;
	-webkit-border-radius: 2px;
	-webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
	-webkit-padding-end: 20px;
	-webkit-padding-start: 2px;
	-webkit-user-select: none;
	background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
	background-position: 97% center;
	background-repeat: no-repeat;
	border: 1px solid #AAA;
	color: #555;
	font-size: 1.0em;
	margin: 2px 0 2px 0;
	overflow: scroll;
	padding: 5px 10px;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 180px;
	font-weight: 600;
}


  /*************************/
 /* Top Dashboard Buttons */
/*************************/

.left {
	float: left;
	border: 1px solid #333;
	border-radius: 6px;
	width: 230px;
	height: 40px;
	margin: 4px 6px 0 0;
	background-position: 6px !important;
	background-repeat: no-repeat !important;
	background-size: 38px !important;
}

.left:nth-child(-n+3) {
	background-color: #A1207B !important;
	background: url("../images/easyapps-logo-sm-sq.gif") left;
}

.left:nth-child(-n+3):hover {
	background-color: #660066 !important;
}

.left:nth-child(4n) {
	background-color: #0095d9 !important;
	background: url("../images/infopage-logo-sm-sq.gif") left;
}

.left:nth-child(4n):hover {
	background-color: #013daf !important;
}

.left:nth-child(5n) {
	background-color: #06b055 !important;
	background: url("../images/powerapps-logo-sm-sq.gif") left;
}

.left:nth-child(5n):hover {
	background-color: #057d3d !important;
}

.left .label {
	color: #fff;
	line-height: 40px;
	text-align: center;
	font-size: 1.2em;
	text-transform: uppercase;
	font-weight: 600;
	padding: 0 0 0 20px;
}

.left .label span {
	padding-left: 24px !important;
}

.left .label a {
	color: #fff;
	text-decoration: none;
}

.left .label a:hover {
	color: #eee;
	text-decoration: none;
}

.right {
	float: right;
}

.row {
	overflow: hidden;
	padding: 10px 0 10px 0;
}
